<li>
	{{burger_name}}

	<button class="eatBurger" data-id="{{id}}" data-newsleep="{{devoured}}">
		{{#if devoured }}Eat Da Burger!{{else}}Back On Da Menu!{{/if}}
	</button>

	<button class="deleteBurger" data-id="{{this.id}}">DELETE!</button>
</li>